<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vidya Games</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Video games that I enjoy playing</h1>
        <ul id="video-games-list">
            <li>Yu-Gi-Oh Master Duel</li>
            <li>Nioh 2</li>
            <li>Rainbow Six Siege</li>
            <li>Escape From Tarkov</li>
            <li>War Thunder</li>
            <li>For Honor</li>
            <li>Lots of Indy Games</li>
        </ul>
    </body>
</html>