extends layout.pug 

block header
    title Alex's Homepage
    meta(name='description' content='A page talking about who I am as a person.')

block content_area
    header
    h1 Welcome to my website!
    p This is a website that I use to share things I enjoy, exemplify my technical abilities, and establish myself as a website owner.

