extends layout.pug 

block header
    title Video Games
    meta(name='description' content='Media that I enjoy consuming.')

block content_area
    h1 Favorite Video Games
    ul#video-games-list
        li Yu-Gi-Oh Master Duel
        li Nioh 2
        li Rainbow Six Siege
        li Titan Fall 2
        li Escape From Tarkov

