extends layout.pug 

block header
    title Media Prefrences
    meta(name='description' content='Media that I enjoy consuming.')


block content_area
    h1 Video games that I enjoy
    ul#video-games-list
        li Yu-Gi-Oh Master Duel
        li Nioh 2
        li Rainbow Six Siege
        li Titan Fall 2
        li Escape From Tarkov
