<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio Time</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Here are some project ideas</h1>
        <ul id="project-ideas list">
            <li>This website</li>
            <li>Cellular Automaton</li>
            <li>Tor Hidden Service</li>
            <li>SPT Mod</li>
            <li>Keylogger</li>
            <li>Encryption Software</li>
            <li>nextjs typescript tailwind app</li>
            <li>Pokedex App</li>
        </ul>
    </body>
</html>