extends layout.pug 

block header
    title Project Ideas
    meta(name='description' content='Idellic project ideas I would love to explore.')

block content_area
    h1  Project Ideas
    ul#project-ideas-list
        li Personal Portfolio Site (Node+Express+NGINX)
        li Pokedex Webapp(Using APIs, TypeScript, NextJS, Tailwind)
        li Yu-Gi-Oh Deck Builder (Basically an abstract ORM)
        li Simple Keylogger
        li Metadata Scrubbing Tool
        li Implement Conway's Game of Life
        li Loot Customization Mod for Single Player Tarkov


