doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Learning Resources
  meta(name='description' content='Online refrence, resources, and practice. Mostly free.')
  link(rel='stylesheet' href='/css/style.css')
  script(src='/js/index.js' defer='')
header
  a(href='/')
    img.logo(src='images/frog_logo.svg' alt='Personal Logo, ribbit')
  nav
    ul.nav_links
      li
        a(href='/aboutme') About Me
      li
        a(href='https://www.github.com/Alex-Wilson') GitHub
      li
        a(href='/projects') Projects
      li
        a(href='/software') Software
      li
        a(href='/resources') Resources
      li
        a(href='/media') Media
      //
        -
        <li><a href="https://www.linkedin.com/in/alex-wilson-3021a5257">LinkedIn</a></li>
        -
  a.cta(href='#')
    button#contact-me-button Contact Me
h3 Educational Resources
li
  a(href='https://www.wikipedia.org/' target='_blank' rel='noreferrer noopener') Wikipedia
li
  a(href='https://www.khanacademy.org/' target='_blank' rel='noreferrer noopener') Khan Academy
li
  a(href='https://ocw.mit.edu/' target='_blank' rel='noreferrer noopener') MIT Open Courseware
li
  a(href='https://histography.io/' target='_blank' rel='noreferrer noopener') Histography
li
  a(href='https://www.duolingo.com/' target='_blank' rel='noreferrer noopener') Duolingo
li
  a(href='https://www.typing.com/' target='_blank' rel='noreferrer noopener') Typing.com
h3 Software Developer Resources 
ul#dev-list
  li
    a(href='https://leetcode.com/' target='_blank' rel='noreferrer noopener') Leet Code
  li
    a(href='https://www.freecodecamp.org/' target='_blank' rel='noreferrer noopener') Free Code Camp
  li
    a(href='https://www.codecademy.com/' target='_blank' rel='noreferrer noopener') Code Academy
  li
    a(href='https://www.w3schools.com/' target='_blank' rel='noreferrer noopener') W3 Schools
  li
    a(href='https://www.hackerrank.com/' target='_blank' rel='noreferrer noopener') Hacker Rank
h3 Security Resources
ul#sec-list
  li
    a(href='https://nvd.nist.gov/' target='_blank' rel='noreferrer noopener') NIST
  li
    a(href='https://www.cisa.gov/known-exploited-vulnerabilities-catalog' target='_blank' rel='noreferrer noopener') CISA
  li
    a(href='https://cve.mitre.org/cve/' target='_blank' rel='noreferrer noopener') MITRE
  li
    a(href='https://www.tenable.com/cve' target='_blank' rel='noreferrer noopener') Tenable
  li
    a(href='https://www.vx-underground.org/' target='_blank' rel='noreferrer noopener') VX Underground
  li
    a(href='https://owasp.org/' target='_blank' rel='noreferrer noopener') OWASP
  li
    a(href='https://www.hybrid-analysis.com/' target='_blank' rel='noreferrer noopener') Hybrid Analysis
  li
    a(href='https://www.virustotal.com/' target='_blank' rel='noreferrer noopener') VirusTotal
  li
    a(href='https://haveibeenpwned.com/' target='_blank' rel='noreferrer noopener') Have I Been Pwned
  li
    a(href='https://tryhackme.com/' target='_blank' rel='noreferrer noopener') TryHackMe
  li
    a(href='https://www.hackthebox.com/' target='_blank' rel='noreferrer noopener') Hack The Box
  li
    a(href='https://maldevacademy.com/' target='_blank' rel='noreferrer noopener') Maldev Academy
h3 AI Tools
ul#ai-list
  li
    a(href='https://openai.com/chatgpt' target='_blank' rel='noreferrer noopener') ChatGPT
  li
    a(href='https://neeva.com/' target='_blank' rel='noreferrer noopener') NeevaAIs
  li
    a(href='https://www.midjourney.com/home/' target='_blank' rel='noreferrer noopener') Midjourney
  li
    a(href='https://stablediffusionweb.com/' target='_blank' rel='noreferrer noopener') Stable Diffusion
  li
    a(href='https://eightify.app/' target='_blank' rel='noreferrer noopener') Eightify
h3 Useful Websites
ul#useful-list
  li
    a(href='https://www.cloudcraft.co/' target='_blank' rel='noreferrer noopener') Cloud Craft
  li
    a(href='https://db-engines.com' target='_blank' rel='noreferrer noopener') DB Engines
  li
    a(href='https://www.kaggle.com/' target='_blank' rel='noreferrer noopener') Kaggle
  li
    a(href='https://www.eff.org/' target='_blank' rel='noreferrer noopener') Electronic Freedom Frontier
h3 Time Wasters
ul#wasting-list
  li
    a(href='https://twitter.com' target='_blank' rel='noreferrer noopener') Twitter
  li
    a(href='https://www.tiktok.com/' target='_blank' rel='noreferrer noopener') TikTok
  li
    a(href='https://www.reddit.com/' target='_blank' rel='noreferrer noopener') Reddit
  li
    a(href='https://www.theonion.com/' target='_blank' rel='noreferrer noopener') The Onion
  li
    a(href='https://hard-drive.net/' target='_blank' rel='noreferrer noopener') Hard Drive Mag
  li
    a(href='https://xkcd.com/' target='_blank' rel='noreferrer noopener')
  li
    a(href='https://fintel.io/' target='_blank' rel='noreferrer noopener') Fintel
  li
    a(href='https://www.quiverquant.com/' target='_blank' rel='noreferrer noopener') QuiverQuant
  li
    a(href='https://www.nytimes.com/games/wordle/index.html' target='_blank' rel='noreferrer noopener') Wordle
  li
    a(href='https://duelingnexus.com' target='_blank' rel='noreferrer noopener') Yu-Gi-Oh Dueling Nexus
  li
    a(href='https://pokemonshowdown.com/' target='_blank' rel='noreferrer noopener') Pokemon Showdown
