<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Software List</title>
        <meta name="description" content="Software I have used and like!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Based Software</h1>

        <h3>Operating Systems</h3>
        <ul id="os-list">
            <li><a href="https://www.openbsd.org/" target="_blank" rel="noreferrer noopener">Open BSD</a></li>
            <li><a href="https://archlinux.org/" target="_blank" rel="noreferrer noopener">Arch</a></li>
            <li><a href="https://ubuntu.com/" target="_blank" rel="noreferrer noopener">Ubuntu</a></li>
            <li><a href="https://linuxmint.com/" target="_blank" rel="noreferrer noopener">Mint</a></li>
            <li><a href="https://www.kali.org/" target="_blank" rel="noreferrer noopener">Kali</a></li>
            <li><a href="https://tails.net/" target="_blank" rel="noreferrer noopener">Tails</a></li>
            <li><a href="https://www.qubes-os.org/" target="_blank" rel="noreferrer noopener">Qubes</a></li>
        </ul>

        <h3>Hypervisors</h3>
        <ul id="vm-list">
            <li><a href="https://www.vmware.com/" target="_blank" rel="noreferrer noopener">VMware</a></li>
            <li><a href="https://xenproject.org/" target="_blank" rel="noreferrer noopener">Xen</a></li>
            <li><a href="https://www.virtualbox.org/" target="_blank" rel="noreferrer noopener">Virtual Box</a></li>

        </ul>

        <h3>Browsers</h3>
        <ul id="broswers-list">
            <li><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noreferrer noopener">Firefox</a></li>
            <li><a href="https://duckduckgo.com/windows" target="_blank" rel="noreferrer noopener">Duck Duck Go</a></li>
            <li><a href="https://mullvad.net/en/browser" target="_blank" rel="noreferrer noopener">Mullvad Browser</a></li>
            <li><a href="https://www.torproject.org/download/" target="_blank" rel="noreferrer noopener">Tor Browser</a></li>
        </ul>

        <h3>Firefox Privacy Extensions</h3>  
        <ul id="ff-privacy-extensions-list">  
            <li>DuckDuckGo Privacy Essentials</li>
            <li>uBlock Origin</li>
            <li>HTTPS Everywhere</li>
            <li>Privacy Badger</li>
            <li>LocalCDN</li>
            <li>ClearURLs</li>
            <li>Firefox Multi-Account Containers</li>
        </ul>

        <h3>Firefox Fun Extensions </h3>
        <ul id="ff-fun-extensions-list">
            <li>Search by Image</li>
            <li>Sponsor Block</li>
            <li>Return Youtube Dislike Button </li>
        </ul>

        <h3>Image Editors/Design Software</h3>
        <ul id="image-editors-list">
            <li><a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noreferrer noopener">Adobe PhotoShop</a></li>
            <li><a href="https://www.adobe.com/products/illustrator.html" target="_blank" rel="noreferrer noopener">Adobe Illustrator</a></li>
            <li><a href="https://www.figma.com/" target="_blank" rel="noreferrer noopener">Figma</a></li>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/visio/flowchart-software" target="_blank" rel="noreferrer noopener">Microsoft Visio</a></li>
        </ul>

        <h3>Note Taking Software</h3>
        <ul id="notes-list">
            <li><a href="https://obsidian.md/" target="_blank" rel="noreferrer noopener">Obsidian Notes</a></li>
            <li><a href="https://www.notion.so/" target="_blank" rel="noreferrer noopener">Notion</a></li>
            <li><a href="https://www.onenote.com/" target="_blank" rel="noreferrer noopener">Microsoft OneNote</a></li>
        </ul>

        <h3>Scheduling/Planning Tools</h3>
        <ul id="planning-tools-list">
            <li><a href="https://www.airtable.com/" target="_blank" rel="noreferrer noopener">Air Table</a></li>
            <li><a href="https://clickup.com/" target="_blank" rel="noreferrer noopener">ClickUp</a></li>
            <li><a href="https://trello.com/" target="_blank" rel="noreferrer noopener">Trello</a></li>
            <li><a href="https://www.atlassian.com/jira" target="_blank" rel="noreferrer noopener">Jira</a></li>
            <li><a href="https://www.projectmanager.com/" target="_blank" rel="noreferrer noopener">ProjectManager</a></li>
            <li><a href="https://tasks.office.com/" target="_blank" rel="noreferrer noopener">Microsoft Planner</a></li>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/project/project-management-software" target="_blank" rel="noreferrer noopener">Microsoft Project</a></li>

        </ul>

        <h3>Spreadsheet Tools</h3>
        <ul id="spreadsheets-list">
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/excel" target="_blank" rel="noreferrer noopener">Excel</a></li>
            <li><a href="https://www.google.com/sheets/about/" target="_blank" rel="noreferrer noopener">Sheets</a></li>
        </ul>

        <h3>Programming Languages</h3>
        <ul id="languages-list">
            <li><a href="https://go.dev/" target="_blank" rel="noreferrer noopener">Go</a></li>
            <li><a href="https://isocpp.org/" target="_blank" rel="noreferrer noopener">C++</a></li>
            <li><a href="https://www.rust-lang.org/" target="_blank" rel="noreferrer noopener">Rust</a></li>
            <li><a href="https://www.python.org/" target="_blank" rel="noreferrer noopener">Python</a></li>
            <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer noopener">TypeScript</a></li>
        </ul>

        <h3>Databases***</h3>
        <ul id="databases-list">
            <li><a href="https://www.mongodb.com/" target="_blank" rel="noreferrer noopener">MongoDB</a></li>
        </ul>

        <h3>Version Control</h3>
        <ul id="version-control-list">
            <li><a href="https://git-scm.com/" target="_blank" rel="noreferrer noopener">Git</a></li>
            <li><a href="https://github.com/" target="_blank" rel="noreferrer noopener">GitHub</a></li>
            <li><a href="https://about.gitlab.com/" target="_blank" rel="noreferrer noopener">GitLab</a></li>
        </ul>

        <h3>Dev Refrence/Practice Sites</h3>
        <ul id="dev-rp-list">
            <li><a href="https://www.w3schools.com/" target="_blank" rel="noreferrer noopener">W3 Schools</a></li>
            <li><a href="https://www.freecodecamp.org/" target="_blank" rel="noreferrer noopener">Free Code Camp</a></li>
            <li><a href="https://leetcode.com/" target="_blank" rel="noreferrer noopener">Leet Code</a></li>
            <li><a href="https://www.hackerrank.com/" target="_blank" rel="noreferrer noopener">Hacker Rank</a></li>
        </ul>

        <h3>VPN Services</h3>
        <ul id="vpn-list">
            <li><a href="https://www.mozilla.org/en-US/products/vpn/" target="_blank" rel="noreferrer noopener">Mozilla</a></li>
            <li><a href="https://protonvpn.com/" target="_blank" rel="noreferrer noopener">Proton</a></li>
            <li><a href="https://mullvad.net/en" target="_blank" rel="noreferrer noopener">Mullvad</a></li>
        </ul>

        <h3>Password Managers</h3>
        <ul id="password-managers-list">
            <li><a href="https://1password.com/" target="_blank" rel="noreferrer noopener">1Password</a></li>
            <li><a href="https://bitwarden.com/" target="_blank" rel="noreferrer noopener">Bitwarden</a></li>
            <li><a href="https://keepassxc.org/" target="_blank" rel="noreferrer noopener"></a>KeyPassXC</li>
        </ul>

        <h3>Gerneral Security Tools</h3>
        <ul id="security-tools-list">
            <li><a href="https://www.wireshark.org/" target="_blank" rel="noreferrer noopener">Wireshark</a></li>
            <li><a href="https://www.metasploit.com/" target="_blank" rel="noreferrer noopener">MetaSploit</a></li>
            <li><a href="https://portswigger.net/burp" target="_blank" rel="noreferrer noopener">BURP Suite</a></li>
            <li><a href="https://en.wikipedia.org/wiki/OWASP_ZAP" target="_blank" rel="noreferrer noopener"> ZAP</a></li>
            <li><a href="https://www.postman.com/" target="_blank" rel="noreferrer noopener">POSTMAN</a></li>
            <li><a href="https://nmap.org/" target="_blank" rel="noreferrer noopener">nmap</a></li>
            <li><a href="https://hashcat.net/hashcat/" target="_blank" rel="noreferrer noopener">hashcat</a></li>
            <li><a href="https://sqlmap.org/" target="_blank" rel="noreferrer noopener">sqlmap</a></li>
            <li><a href="https://www.aircrack-ng.org/" target="_blank" rel="noreferrer noopener">Aircrack-ng</a></li>
            <li><a href="https://www.malwarebytes.com/" target="_blank" rel="noreferrer noopener">Malware Bytes</a></li>
            
        </ul>

        <h3>Security Refrence/Practice  Sites</h3>
        <ul id="security-rp-list">
            <li><a href="https://nvd.nist.gov/" target="_blank" rel="noreferrer noopener">NIST</a></li>
            <li><a href="" target="_blank" rel="noreferrer noopener">CISA</a></li>
            <li><a href="https://cve.mitre.org/cve/" target="_blank" rel="noreferrer noopener">MITRE</a></li>
            <li><a href="https://www.tenable.com/cve" target="_blank" rel="noreferrer noopener">Tenable</a></li>
            <li><a href="https://owasp.org/" target="_blank" rel="noreferrer noopener">OWASP</a></li>
            <li><a href="https://www.vx-underground.org/" target="_blank" rel="noreferrer noopener">VX Underground</a></li>
            <li><a href="https://haveibeenpwned.com/" target="_blank" rel="noreferrer noopener">Have I Been Pwned</a></li>
            <li><a href="https://maldevacademy.com/" target="_blank" rel="noreferrer noopener">Maldev Academy</a></li>
            <li><a href="https://www.virustotal.com/" target="_blank" rel="noreferrer noopener">VirusTotal</a></li>
            <li><a href="https://www.hybrid-analysis.com/" target="_blank" rel="noreferrer noopener">Hybrid Analysis</a></li>
            <li><a href="https://www.hackthebox.com/" target="_blank" rel="noreferrer noopener">Hack The Box</a></li>
            <li><a href="https://tryhackme.com/" target="_blank" rel="noreferrer noopener">TryHackMe</a></li>
        </ul>

        <h3>Encrpyion Tools</h3>
        <ul id="enc-tools-list">
            <li><a href="https://veracrypt.fr/en/Home.html" target="_blank" rel="noreferrer noopener">VeraCrpyt</a></li>
            <li><a href="https://learn.microsoft.com/en-us/windows/security/operating-system-security/data-protection/bitlocker/" target="_blank" rel="noreferrer noopener">BitLocker</a></li>
        </ul>

        <h3>Encrypted Messengers</h3>
        <ul id="enc-messenger-list">
            <li><a href="https://www.signal.org/" target="_blank" rel="noreferrer noopener">Signal</a></li>
            <li><a href="https://telegram.org/" target="_blank" rel="noreferrer noopener">Telegram</a></li>
            <li><a href="https://getsession.org/" target="_blank" rel="noreferrer noopener">Session</a></li>
        </ul>

        <h3>Crypto Currencies</h3>
        <ul id="cool-sites-list">
            <li><a href="https://bitcoin.org/en/" target="_blank" rel="noreferrer noopener">BitCoin</a></li>
            <li><a href="https://ethereum.org/en/" target="_blank" rel="noreferrer noopener">Ethereum</a></li>
            <li><a href="https://www.getmonero.org/" target="_blank" rel="noreferrer noopener">Monero</a></li>
            <li><a href="https://filecoin.io/" target="_blank" rel="noreferrer noopener">FileCoin</a></li>
        </ul>

        <h3>DevOps Tools</h3>
        <ul id="devops-tools-list">
            <li><a href="https://kubernetes.io/" target="_blank" rel="noreferrer noopener">Kubernetes</a></li>
            <li><a href="https://www.docker.com/" target="_blank" rel="noreferrer noopener">Docker</a></li>
            <li><a href="https://www.chef.io/" target="_blank" rel="noreferrer noopener">Chef</a></li>
            <li><a href="https://www.jenkins.io/" target="_blank" rel="noreferrer noopener">Jenkins</a></li>
        </ul>

        <h3>AI Tools</h3>
        <ul id="ai-list">
            <li><a href="https://openai.com/chatgpt" target="_blank" rel="noreferrer noopener">ChatGPT</a></li>
            <li><a href="https://neeva.com/" target="_blank" rel="noreferrer noopener">NeevaAIs</a></li>
            <li><a href="https://www.midjourney.com/home/" target="_blank" rel="noreferrer noopener">Midjourney</a></li>
            <li><a href="https://stablediffusionweb.com/" target="_blank" rel="noreferrer noopener">Stable Diffusion</a></li>
            <li><a href="https://eightify.app/" target="_blank" rel="noreferrer noopener">Eightify</a></li> 
        </ul>

        <h3>C00L $1T35</h3>
        <ul id="cool-sites-list">
            <li><a href="https://www.cloudcraft.co/" target="_blank" rel="noreferrer noopener">Cloud Craft</a></li>
            <li><a href="https://db-engines.com" target="_blank" rel="noreferrer noopener">DB Engines</a></li>
            <li><a href="https://downdetector.com/" target="_blank" rel="noreferrer noopener">Down Detector</a></li>
            Kaggle
            Fintel
            QuiverQuant
            EFF
            The Onion
            Hard Drive Mag

        </ul>
        
    </body>
</html>