<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Software</title>
        <meta name="description" content="Interesting Software">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/"><img class="logo" src="images/frog_logo.svg" alt="Personal Logo, ribbit"></a>
                <nav>
                    <ul class="nav_links">
                    <li><a href="/aboutme">About Me</a></li>
                    <li><a href="https://www.github.com/Alex-Wilson">GitHub</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/software">Software</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/media">Media</a></li>
                
                    <!--- 
                  <li><a href="https://www.linkedin.com/in/alex-wilson-3021a5257">LinkedIn</a></li>
                    --->
                    </ul>
                </nav>
            <a class="cta" href="#"><button>Contact Me</button></a>
        </header>

        <h1>Interesting Software</h1>


        <!---Development Software---->
        <h1>Developement Focused Software</h1>

        <h3>Hypervisors</h3>
        <ul id="vm-list">
            <li><a href="https://www.vmware.com/" target="_blank" rel="noreferrer noopener">VMware</a></li>
            <li><a href="https://xenproject.org/" target="_blank" rel="noreferrer noopener">Xen</a></li>
            <li><a href="https://www.virtualbox.org/" target="_blank" rel="noreferrer noopener">Virtual Box</a></li>

        </ul>

        <h3>Operating Systems</h3>
        <ul id="os-list">
            <li><a href="https://www.openbsd.org/" target="_blank" rel="noreferrer noopener">Open BSD</a></li>
            <li><a href="https://archlinux.org/" target="_blank" rel="noreferrer noopener">Arch</a></li>
            <li><a href="https://ubuntu.com/" target="_blank" rel="noreferrer noopener">Ubuntu</a></li>
            <li><a href="https://linuxmint.com/" target="_blank" rel="noreferrer noopener">Mint</a></li>
            <li><a href="https://www.kali.org/" target="_blank" rel="noreferrer noopener">Kali</a></li>
            <li><a href="https://tails.net/" target="_blank" rel="noreferrer noopener">Tails</a></li>
            <li><a href="https://www.qubes-os.org/" target="_blank" rel="noreferrer noopener">Qubes</a></li>
        </ul>

        <h3>Programming Languages</h3>
        <ul id="languages-list">
            <li><a href="https://go.dev/" target="_blank" rel="noreferrer noopener">Go</a></li>
            <li><a href="https://isocpp.org/" target="_blank" rel="noreferrer noopener">C++</a></li>
            <li><a href="https://www.rust-lang.org/" target="_blank" rel="noreferrer noopener">Rust</a></li>
            <li><a href="https://www.python.org/" target="_blank" rel="noreferrer noopener">Python</a></li>
            <li><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer noopener">TypeScript</a></li>
        </ul>

        <h3>Databases</h3>
        <ul id="databases-list">
            <li><a href="https://www.mongodb.com/" target="_blank" rel="noreferrer noopener">MongoDB</a></li>
            <li><a href="https://www.mysql.com/" target="_blank" rel="noreferrer noopener">MySQL</a></li>
        </ul>

        <h3>Version Control</h3>
        <ul id="vc-list">
            <li><a href="https://git-scm.com/" target="_blank" rel="noreferrer noopener">Git</a></li>
            <li><a href="https://github.com/" target="_blank" rel="noreferrer noopener">GitHub</a></li>
            <li><a href="https://about.gitlab.com/" target="_blank" rel="noreferrer noopener">GitLab</a></li>
        </ul>

        <h3>DevOps Tools</h3>
        <ul id="devops-list">
            <li><a href="https://kubernetes.io/" target="_blank" rel="noreferrer noopener">Kubernetes</a></li>
            <li><a href="https://www.docker.com/" target="_blank" rel="noreferrer noopener">Docker</a></li>
            <li><a href="https://www.chef.io/" target="_blank" rel="noreferrer noopener">Chef</a></li>
            <li><a href="https://www.jenkins.io/" target="_blank" rel="noreferrer noopener">Jenkins</a></li>
        </ul>



        
        <!---Privacy Focused Softwares-->
        <h1>Privacy Focused Software</h1>

        <h3>Browsers</h3>
        <ul id="broswers-list">
            <li><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noreferrer noopener">Firefox</a></li>
            <li><a href="https://www.startpage.com/" target="_blank" rel="noreferrer noopener">StartPage</a></li>
            <li><a href="https://duckduckgo.com/windows" target="_blank" rel="noreferrer noopener">Duck Duck Go</a></li>
            <li><a href="https://mullvad.net/en/browser" target="_blank" rel="noreferrer noopener">Mullvad Browser</a></li>
            <li><a href="https://www.torproject.org/download/" target="_blank" rel="noreferrer noopener">Tor Browser</a></li>
        </ul>

        <h3>Firefox Privacy Extensions</h3>  
        <ul id="ff-privacy-extensions-list">  
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/duckduckgo-for-firefox/" target="_blank" rel="noreferrer noopener">DuckDuckGo Privacy Essentials</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/" target="_blank" rel="noreferrer noopener">uBlock Origin</a></li>
            <li><a href="https://www.eff.org/https-everywhere/" target="_blank" rel="noreferrer noopener">HTTPS Everywhere</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/" target="_blank" rel="noreferrer noopener">Privacy Badger</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/decentraleyes/" target="_blank" rel="noreferrer noopener">LocalCDN</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/clearurls/" target="_blank" rel="noreferrer noopener">ClearURLs</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/" target="_blank" rel="noreferrer noopener">Firefox Multi-Account Containers</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/" target="_blank" rel="noreferrer noopener">No Script</a></li>
            
        </ul>

        <h3>Gerneral Security Tools</h3>
        <ul id="security-tools-list">
            <li><a href="https://www.wireshark.org/" target="_blank" rel="noreferrer noopener">Wireshark</a></li>
            <li><a href="https://www.metasploit.com/" target="_blank" rel="noreferrer noopener">MetaSploit</a></li>
            <li><a href="https://portswigger.net/burp" target="_blank" rel="noreferrer noopener">BURP Suite</a></li>
            <li><a href="https://en.wikipedia.org/wiki/OWASP_ZAP" target="_blank" rel="noreferrer noopener"> ZAP</a></li>
            <li><a href="https://www.postman.com/" target="_blank" rel="noreferrer noopener">POSTMAN</a></li>
            <li><a href="https://nmap.org/" target="_blank" rel="noreferrer noopener">nmap</a></li>
            <li><a href="https://hashcat.net/hashcat/" target="_blank" rel="noreferrer noopener">hashcat</a></li>
            <li><a href="https://sqlmap.org/" target="_blank" rel="noreferrer noopener">sqlmap</a></li>
            <li><a href="https://www.aircrack-ng.org/" target="_blank" rel="noreferrer noopener">Aircrack-ng</a></li>
            <li><a href="https://www.malwarebytes.com/" target="_blank" rel="noreferrer noopener">Malware Bytes</a></li>
            
        </ul>

        <h3>Encrpyion Tools</h3>
        <ul id="enc-tools-list">
            <li><a href="https://veracrypt.fr/en/Home.html" target="_blank" rel="noreferrer noopener">VeraCrpyt</a></li>
            <li><a href="https://learn.microsoft.com/en-us/windows/security/operating-system-security/data-protection/bitlocker/" target="_blank" rel="noreferrer noopener">BitLocker</a></li>
        </ul>

        <h3>Password Managers</h3>
        <ul id="pwd-manager-list">
            <li><a href="https://1password.com/" target="_blank" rel="noreferrer noopener">1Password</a></li>
            <li><a href="https://bitwarden.com/" target="_blank" rel="noreferrer noopener">Bitwarden</a></li>
            <li><a href="https://keepassxc.org/" target="_blank" rel="noreferrer noopener"></a>KeyPassXC</li>
        </ul>

        <h3>VPN Services</h3>
        <ul id="vpn-list">
            <li><a href="https://www.mozilla.org/en-US/products/vpn/" target="_blank" rel="noreferrer noopener">Mozilla</a></li>
            <li><a href="https://protonvpn.com/" target="_blank" rel="noreferrer noopener">Proton</a></li>
            <li><a href="https://mullvad.net/en" target="_blank" rel="noreferrer noopener">Mullvad</a></li>
        </ul>

        <h3>Encrypted Messengers</h3>
        <ul id="enc-messenger-list">
            <li><a href="https://www.signal.org/" target="_blank" rel="noreferrer noopener">Signal</a></li>
            <li><a href="https://telegram.org/" target="_blank" rel="noreferrer noopener">Telegram</a></li>
            <li><a href="https://getsession.org/" target="_blank" rel="noreferrer noopener">Session</a></li>
        </ul>

        <h3>Crypto Currencies</h3>
        <ul id="crypto-list">
            <li><a href="https://bitcoin.org/en/" target="_blank" rel="noreferrer noopener">BitCoin</a></li>
            <li><a href="https://ethereum.org/en/" target="_blank" rel="noreferrer noopener">Ethereum</a></li>
            <li><a href="https://www.getmonero.org/" target="_blank" rel="noreferrer noopener">Monero</a></li>
            <li><a href="https://filecoin.io/" target="_blank" rel="noreferrer noopener">FileCoin</a></li>
        </ul>




        <!--- Productivity Software-->
        <h1>Productivity Focused Software</h1>

        <h3>Scheduling/Planning Tools</h3>
        <ul id="planning-list">
            <li><a href="https://www.airtable.com/" target="_blank" rel="noreferrer noopener">Air Table</a></li>
            <li><a href="https://clickup.com/" target="_blank" rel="noreferrer noopener">ClickUp</a></li>
            <li><a href="https://trello.com/" target="_blank" rel="noreferrer noopener">Trello</a></li>
            <li><a href="https://www.atlassian.com/jira" target="_blank" rel="noreferrer noopener">Jira</a></li>
            <li><a href="https://www.projectmanager.com/" target="_blank" rel="noreferrer noopener">ProjectManager</a></li>
            <li><a href="https://tasks.office.com/" target="_blank" rel="noreferrer noopener">Microsoft Planner</a></li>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/project/project-management-software" target="_blank" rel="noreferrer noopener">Microsoft Project</a></li>

        </ul>

        <h3>Spreadsheet Tools</h3>
        <ul id="spreadsheet-list">
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/excel" target="_blank" rel="noreferrer noopener">Excel</a></li>
            <li><a href="https://www.google.com/sheets/about/" target="_blank" rel="noreferrer noopener">Sheets</a></li>
        </ul>

        <h3>Note Taking Software</h3>
        <ul id="notes-list">
            <li><a href="https://obsidian.md/" target="_blank" rel="noreferrer noopener">Obsidian Notes</a></li>
            <li><a href="https://www.notion.so/" target="_blank" rel="noreferrer noopener">Notion</a></li>
            <li><a href="https://www.onenote.com/" target="_blank" rel="noreferrer noopener">Microsoft OneNote</a></li>
        </ul>

        <h3>Image Editors/Design Software</h3>
        <ul id="image-editor-list">
            <li><a href="https://inkscape.org/" target="_blank" rel="noreferrer noopener">InkScape</a></li>
            <li><a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noreferrer noopener">Adobe PhotoShop</a></li>
            <li><a href="https://www.adobe.com/products/illustrator.html" target="_blank" rel="noreferrer noopener">Adobe Illustrator</a></li>
            <li><a href="https://www.figma.com/" target="_blank" rel="noreferrer noopener">Figma</a></li>
            <li><a href="https://www.microsoft.com/en-us/microsoft-365/visio/flowchart-software" target="_blank" rel="noreferrer noopener">Microsoft Visio</a></li>
        </ul>
        
        

        
        <!---Just for Fun-->
        <h1>Non-Essential FireFox Extensions</h1>

        <h3>Firefox Fun Extensions </h3>
        <ul id="ff-fun-extensions-list">
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/search_by_image/" target="_blank" rel="noreferrer noopener">Search by Image</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/sponsorblock/" target="_blank" rel="noreferrer noopener">Sponsor Block</a></li>
            <li><a href="https://addons.mozilla.org/en-US/firefox/addon/return-youtube-dislikes/" target="_blank" rel="noreferrer noopener">Return Youtube Dislike Button </li>
        </ul>
        
    </body>
</html>