extends layout.pug 

block header
    title Software
    meta(name='description' content='Interesting Software')

block content_area
    h1 Interesting Software
    // -Development Software--
    h1 Developement Focused Software
    h3 Hypervisors
    ul#vm-list
    li
        a(href='https://www.vmware.com/' target='_blank' rel='noreferrer noopener') VMware
    li
        a(href='https://xenproject.org/' target='_blank' rel='noreferrer noopener') Xen
    li
        a(href='https://www.virtualbox.org/' target='_blank' rel='noreferrer noopener') Virtual Box
    h3 Operating Systems
    ul#os-list
    li
        a(href='https://www.openbsd.org/' target='_blank' rel='noreferrer noopener') Open BSD
    li
        a(href='https://archlinux.org/' target='_blank' rel='noreferrer noopener') Arch
    li
        a(href='https://ubuntu.com/' target='_blank' rel='noreferrer noopener') Ubuntu
    li
        a(href='https://linuxmint.com/' target='_blank' rel='noreferrer noopener') Mint
    li
        a(href='https://www.kali.org/' target='_blank' rel='noreferrer noopener') Kali
    li
        a(href='https://tails.net/' target='_blank' rel='noreferrer noopener') Tails
    li
        a(href='https://www.qubes-os.org/' target='_blank' rel='noreferrer noopener') Qubes
    h3 Programming Languages
    ul#languages-list
    li
        a(href='https://go.dev/' target='_blank' rel='noreferrer noopener') Go
    li
        a(href='https://isocpp.org/' target='_blank' rel='noreferrer noopener') C++
    li
        a(href='https://www.rust-lang.org/' target='_blank' rel='noreferrer noopener') Rust
    li
        a(href='https://www.python.org/' target='_blank' rel='noreferrer noopener') Python
    li
        a(href='https://www.typescriptlang.org/' target='_blank' rel='noreferrer noopener') TypeScript
    h3 Databases
    ul#databases-list
    li
        a(href='https://www.mongodb.com/' target='_blank' rel='noreferrer noopener') MongoDB
    li
        a(href='https://www.mysql.com/' target='_blank' rel='noreferrer noopener') MySQL
    h3 Version Control
    ul#vc-list
    li
        a(href='https://git-scm.com/' target='_blank' rel='noreferrer noopener') Git
    li
        a(href='https://github.com/' target='_blank' rel='noreferrer noopener') GitHub
    li
        a(href='https://about.gitlab.com/' target='_blank' rel='noreferrer noopener') GitLab
    h3 DevOps Tools
    ul#devops-list
    li
        a(href='https://kubernetes.io/' target='_blank' rel='noreferrer noopener') Kubernetes
    li
        a(href='https://www.docker.com/' target='_blank' rel='noreferrer noopener') Docker
    li
        a(href='https://www.chef.io/' target='_blank' rel='noreferrer noopener') Chef
    li
        a(href='https://www.jenkins.io/' target='_blank' rel='noreferrer noopener') Jenkins
    // -Privacy Focused Softwares
    h1 Privacy Focused Software
    h3 Browsers
    ul#broswers-list
    li
        a(href='https://www.mozilla.org/en-US/firefox/new/' target='_blank' rel='noreferrer noopener') Firefox
    li
        a(href='https://www.startpage.com/' target='_blank' rel='noreferrer noopener') StartPage
    li
        a(href='https://duckduckgo.com/windows' target='_blank' rel='noreferrer noopener') Duck Duck Go
    li
        a(href='https://mullvad.net/en/browser' target='_blank' rel='noreferrer noopener') Mullvad Browser
    li
        a(href='https://www.torproject.org/download/' target='_blank' rel='noreferrer noopener') Tor Browser
    h3 Firefox Privacy Extensions
    ul#ff-privacy-extensions-list
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/duckduckgo-for-firefox/' target='_blank' rel='noreferrer noopener') DuckDuckGo Privacy Essentials
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/' target='_blank' rel='noreferrer noopener') uBlock Origin
    li
        a(href='https://www.eff.org/https-everywhere/' target='_blank' rel='noreferrer noopener') HTTPS Everywhere
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/' target='_blank' rel='noreferrer noopener') Privacy Badger
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/decentraleyes/' target='_blank' rel='noreferrer noopener') LocalCDN
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/clearurls/' target='_blank' rel='noreferrer noopener') ClearURLs
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/' target='_blank' rel='noreferrer noopener') Firefox Multi-Account Containers
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/noscript/' target='_blank' rel='noreferrer noopener') No Script
    h3 Gerneral Security Tools
    ul#security-tools-list
    li
        a(href='https://www.wireshark.org/' target='_blank' rel='noreferrer noopener') Wireshark
    li
        a(href='https://www.metasploit.com/' target='_blank' rel='noreferrer noopener') MetaSploit
    li
        a(href='https://portswigger.net/burp' target='_blank' rel='noreferrer noopener') BURP Suite
    li
        a(href='https://en.wikipedia.org/wiki/OWASP_ZAP' target='_blank' rel='noreferrer noopener')  ZAP
    li
        a(href='https://www.postman.com/' target='_blank' rel='noreferrer noopener') POSTMAN
    li
        a(href='https://nmap.org/' target='_blank' rel='noreferrer noopener') nmap
    li
        a(href='https://hashcat.net/hashcat/' target='_blank' rel='noreferrer noopener') hashcat
    li
        a(href='https://sqlmap.org/' target='_blank' rel='noreferrer noopener') sqlmap
    li
        a(href='https://www.aircrack-ng.org/' target='_blank' rel='noreferrer noopener') Aircrack-ng
    li
        a(href='https://www.malwarebytes.com/' target='_blank' rel='noreferrer noopener') Malware Bytes
    h3 Encrpyion Tools
    ul#enc-tools-list
    li
        a(href='https://veracrypt.fr/en/Home.html' target='_blank' rel='noreferrer noopener') VeraCrpyt
    li
        a(href='https://learn.microsoft.com/en-us/windows/security/operating-system-security/data-protection/bitlocker/' target='_blank' rel='noreferrer noopener') BitLocker
    h3 Password Managers
    ul#pwd-manager-list
    li
        a(href='https://1password.com/' target='_blank' rel='noreferrer noopener') 1Password
    li
        a(href='https://bitwarden.com/' target='_blank' rel='noreferrer noopener') Bitwarden
    li
        a(href='https://keepassxc.org/' target='_blank' rel='noreferrer noopener')
        | KeyPassXC
    h3 VPN Services
    ul#vpn-list
    li
        a(href='https://www.mozilla.org/en-US/products/vpn/' target='_blank' rel='noreferrer noopener') Mozilla
    li
        a(href='https://protonvpn.com/' target='_blank' rel='noreferrer noopener') Proton
    li
        a(href='https://mullvad.net/en' target='_blank' rel='noreferrer noopener') Mullvad
    h3 Encrypted Messengers
    ul#enc-messenger-list
    li
        a(href='https://www.signal.org/' target='_blank' rel='noreferrer noopener') Signal
    li
        a(href='https://telegram.org/' target='_blank' rel='noreferrer noopener') Telegram
    li
        a(href='https://getsession.org/' target='_blank' rel='noreferrer noopener') Session
    h3 Crypto Currencies
    ul#crypto-list
    li
        a(href='https://bitcoin.org/en/' target='_blank' rel='noreferrer noopener') BitCoin
    li
        a(href='https://ethereum.org/en/' target='_blank' rel='noreferrer noopener') Ethereum
    li
        a(href='https://www.getmonero.org/' target='_blank' rel='noreferrer noopener') Monero
    li
        a(href='https://filecoin.io/' target='_blank' rel='noreferrer noopener') FileCoin
    // - Productivity Software
    h1 Productivity Focused Software
    h3 Scheduling/Planning Tools
    ul#planning-list
    li
        a(href='https://www.airtable.com/' target='_blank' rel='noreferrer noopener') Air Table
    li
        a(href='https://clickup.com/' target='_blank' rel='noreferrer noopener') ClickUp
    li
        a(href='https://trello.com/' target='_blank' rel='noreferrer noopener') Trello
    li
        a(href='https://www.atlassian.com/jira' target='_blank' rel='noreferrer noopener') Jira
    li
        a(href='https://www.projectmanager.com/' target='_blank' rel='noreferrer noopener') ProjectManager
    li
        a(href='https://tasks.office.com/' target='_blank' rel='noreferrer noopener') Microsoft Planner
    li
        a(href='https://www.microsoft.com/en-us/microsoft-365/project/project-management-software' target='_blank' rel='noreferrer noopener') Microsoft Project
    h3 Spreadsheet Tools
    ul#spreadsheet-list
    li
        a(href='https://www.microsoft.com/en-us/microsoft-365/excel' target='_blank' rel='noreferrer noopener') Excel
    li
        a(href='https://www.google.com/sheets/about/' target='_blank' rel='noreferrer noopener') Sheets
    h3 Note Taking Software
    ul#notes-list
    li
        a(href='https://obsidian.md/' target='_blank' rel='noreferrer noopener') Obsidian Notes
    li
        a(href='https://www.notion.so/' target='_blank' rel='noreferrer noopener') Notion
    li
        a(href='https://www.onenote.com/' target='_blank' rel='noreferrer noopener') Microsoft OneNote
    h3 Image Editors/Design Software
    ul#image-editor-list
    li
        a(href='https://inkscape.org/' target='_blank' rel='noreferrer noopener') InkScape
    li
        a(href='https://www.adobe.com/products/photoshop.html' target='_blank' rel='noreferrer noopener') Adobe PhotoShop
    li
        a(href='https://www.adobe.com/products/illustrator.html' target='_blank' rel='noreferrer noopener') Adobe Illustrator
    li
        a(href='https://www.figma.com/' target='_blank' rel='noreferrer noopener') Figma
    li
        a(href='https://www.microsoft.com/en-us/microsoft-365/visio/flowchart-software' target='_blank' rel='noreferrer noopener') Microsoft Visio
    // -Just for Fun
    h1 Non-Essential FireFox Extensions
    h3 Firefox Fun Extensions 
    ul#ff-fun-extensions-list
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/search_by_image/' target='_blank' rel='noreferrer noopener') Search by Image
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/sponsorblock/' target='_blank' rel='noreferrer noopener') Sponsor Block
    li
        a(href='https://addons.mozilla.org/en-US/firefox/addon/return-youtube-dislikes/' target='_blank' rel='noreferrer noopener') Return Youtube Dislike Button 
